.entirecart{
    height: 90vh;
    width: 99.9vw;
}
.mainCart{
    width: 99vw;
    height: 40rem;
   display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}
.cartmaincontainer{
    width: 80%;
   
}
.cartcontainer{
    margin-left: 6rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
.cartcontainerproduct{
    margin-left: 3rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.line{
    margin-top: 2rem;
    border: 1px solid #ccc;
}
.cartimage{
    width: 12rem;
    height: 5rem;
    display: flex;
    align-items: start;
}
.cartimage img{
    width: 30%;
    height: 60%;
}
.cartimagecolor{
    height: 1rem;
    width: 1rem;
    background-color: red;
}

.priceproduct{
    margin-left: -4rem;
}
.removebutton{
    color: salmon;
}
.removebutton:hover{
    color: red;
}

.cartlengthzero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amountchanger{
    margin-left: -2rem;
}



/* footer cart */

.Footercart{
    margin-right: 15rem;
    padding: 1.5rem;
      float: right;
     display: flex;
     justify-content: center;
    flex-direction: column;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 15rem;
    width: 29rem;
    background-color: #D8D9DA;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 900px) {
      .cartcontainerproduct{
        font-size: 0.6rem;
        margin-left: -0.6rem;
      }
      .cartmaincontainer{
        width: 95%;
      }
      .cartcontainer{
        font-size: 0.8rem;
        margin-left: -0.1rem;
      }  
}

@media (max-width: 600px) {
    .cartmaincontainer{
        width: 98%;
      }
    .cartimage{ 
     flex-direction: column;
    }
    .priceproduct{
        margin-left: -7rem;
    }
    
}