.feature-container{
    margin-top: 5rem;
    background-color: #F6F8FA;
    width: 100vw;
    padding-top: 5rem;
    padding-bottom: 6rem;

}
.container-fea{
    width: 70%;
    margin: auto;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
