*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
  font-family: 'Ubuntu', sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  width: 100%;
  height: 100%;
}
.flex{
   display: flex;
   align-items: center;
   justify-content: center;
}
.relative{
  position: relative;
}
.absolute{
 position: absolute;
}
.text-lg{
  font-size: 5rem;
}
.text-m{
  font-size: 4rem;
}
.text-s{
  font-size: 2rem;
}
.text-sm{
  font-size: 1.7rem;
}
.text-ex{
  font-size: 1.5rem;
}
.center{
  text-align: center;
}
.m-auto{
  margin: auto;
}

@media (max-width: 1300px) {
  html{
    font-size: 59.5%;
  }
}
@media (max-width: 1300px) {
  html{
    font-size: 57.5%;
  }
}
@media (max-width: 1000px) {
  html{
    font-size: 50.5%;
  }
}
@media (max-width: 750px) {
  html{
    font-size: 45.5%;
  }
}